.stat {
    font-family: 'Inter';
    color: var(--color-neutral-slightly-white2);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stat .points {
    color: var(--color-neutral-white);
    font-size: 1.25rem;
    font-weight: var(--font-weight2);
    margin-bottom: 0.5rem;
}

.stat .title {
    text-transform: uppercase;
    font-size: 0.7rem;
}